
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container1 {
    padding: 2px 16px;
  } */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
  .userMain{
    margin-left: 10px;
  }
.container{
  padding: 10px;
}
  .container h1 {
    font-family: "Open Sans", sans;
    font-weight:300;
    text-align:center;
    color:rgba(255,255,255,0.6)
  }
  
 .service-hover-text h2 {
    color:#2c3e52;
    font-family:  "Open Sans", sans;
    font-size: 14px;
    text-align:center;
    font-weight:700;
    margin-bottom:50px;
    
  }
  
  .service-details {
    /*width: 460px;*/
    height: 150px;	
    /*height: 230px;*/
    overflow: hidden;
    position: relative;
  }
  
  .service-details img {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: auto;
    height: 100%;
    float: left;
    transition: all 0.8s;
    -moz-transition: all 0.8s;
  
  }
  
  .service-details:hover img {
    /*opacity: 0.4 !important;*/
  }
  
  .service-details .service-hover-text h3 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    font-weight:300;
    font-family: "Open Sans";
  }
  
  .service-details .service-hover-text h4 {
    padding: 0px;
    padding-bottom: 13px;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 3px;
    width: 90%;
    font-family: "Open Sans";
    text-transform:uppercase;
    border-bottom: 2px solid #000;
  }
  
  .service-details .service-hover-text p {
    padding-top: 13px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans";
  }
  
  
  .service-details .service-hover-text{
    width: 42%;
    height: 89%;
    position: absolute;
    top: 0%;
    left: 50%;
    padding: 3% 4%;
    background: #D90E0E;
    color: rgba(255,255,255,1);
  /*	display: none;*/
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.4s;
  }
  
  .service-details:hover .service-hover-text {
    display: block !important;
    color: rgba(255,255,255,1);
    background:rgba(217,14,14,0.85);
    left: 0px;
    top: 0px;
  }
  
  
  .service-details .service-text {
    width: 50%;
    height: inherit;
    background: #000;
    float: left;
    position: absolute;
    left: 50%;
  }
  
  .service-details .service-text p {
    padding:100px 0px 10px 20px;
    font-size: 24px;
    font-family: "Open Sans";
    font-weight:700;
    color: #fff;
  }
  
  .service-details .service-text p span {
      font-family: "Open Sans" !important;
  }
  
  .service-details .service-text a , .service-white .service-text {
    padding: 0px 0px 0px 20px;
    font-size: 14px !important;
    /* color:#FF5A22 !important; */
    font-family: "Open Sans" !important;
    text-decoration: none !important; 
  }
  a{
    padding: 0px 0px 0px 20px;
    font-size: 14px !important;
    /* color:#FF5A22 !important; */
    font-family: "Open Sans" !important;
    text-decoration: none !important;
    display:inline-block;
  }
  
  .service-details .service-text {
    float: left;
  } 
  
  .service-white {
    background: #eee !important;
    width: 50% !important;
    height: inherit !important;
  }
  
  .service-white p {
    color: #000 !important;
  }
  .myblog{
    position:relative;
  }
  .myblog:after{
    content: '';
    height:10px;
    width: 10px;
    display:block; background:url('https://cdn4.iconfinder.com/data/icons/miu/22/circle_next_arrow_disclosure-128.png') no-repeat 0 0;
    position:absolute;
    top:5px;
    left:-5px;
    background-size:10px auto;
  }
  .followus{
    text-align:center;
    list-style:none;
    margin:5px 0;
    padding:0;
  }
  .followus li{
    display:inline-block;
  }
  .followus li a{
    color:#fff !important;
  }
  .followus li a i{
    font-size:20px;
  }
  .followus li a:hover{
    color:#000 !important;
  }